node_modules
.idea
*.md
*.jpg
*.png
*.gif
*.pdf
.eslintrc.js
.gitignore
.git
.vscode
*.png
*.jpg
*.jpg
*.txt
*.mp4
*.mp3
*.mov
app/test/**
json_reference
.DS_Store
dev.docker-compose.yml
prod.docker-compose.yml
.env
.env-e
README.md
package-lock.json
.eslintrc.json
cert1.pem
Dockerfile
*.md
swagger.json
synaptiq-client.js
privkey1.pem
Makefile
base.env
.clinic
templates
./app/specs
save
input
images
npm-debug.log